@import "tailwindcss";

html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  scroll-snap-align: start;
  height: 100dvh;
  width: 100%;
}

.section-gallery {
  height: auto;
  min-height: 100dvh;
}

@media (min-width: 768px) {
  .section-gallery {
    height: 100dvh;
  }
}